<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>contactName</key>
        <string>HLB authors</string>
        <key>description</key>
        <string>Language support for HLB files.</string>
        <key>name</key>
        <string>hlb</string>
        <key>uuid</key>
        <string>88c38584-8b5f-45be-93a6-e2c9da5b6e3f</string>
    </dict>
</plist>
